#include <input/processors.dtsi>

&pointing_listener {
    status = "okay";
    device = <&pointing_device>;

    scroller {
        layers = <4>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};
